/****** PLACE YOUR CUSTOM STYLES HERE ******/

.signup-container{
  bottom:10%!important;
}
.highlight{
  color:#F13030;
}
.btn{
  background-color:#F13030;
}
@media (max-width:768px){
  .cover-title{
    font-size:20px !important;
    letter-spacing:8px !important;
  }
}
